/* THE WHOLE PAGE */
.Page {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

.chatroomHeader {
  padding: 0.1rem 0.2rem;
  font-size: 24px;
  font-weight: bold;
}

/* The messages contents container */
.Chat_History {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 90vw;
  background-color: white;
  border-radius: 10px 10px;
  padding-bottom: 10px;
  margin-top: 0;
  overflow-x: hidden;
  overflow-wrap: normal;
  word-break: break-word;
}
.Chat_History::-webkit-scrollbar {
  width: 10px;
  transform: translateX(50px);
}
.Chat_History::-webkit-scrollbar-track {
  background-color: #96c8f3;
  border-radius: 0 10px 10px 0;
}
.Chat_History::-webkit-scrollbar-thumb {
  background-color: #1a99e5;
  border-radius: 0 10px 10px 0;
}
.Chat_History::-webkit-scrollbar-thumb:hover {
  background-color: #1e88e5;
}
/* Form container (inclusive of ChatBox and Button) =============================================================*/
.Form {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  background-color: white;
  border-radius: 25px;
  border: 1px solid gray;
  margin: 10px 0;
  padding: 4px 0;
}
/* ChatBox to type message in */
.ChatBox {
  width: 100%;
  border-radius: 25px;
  border: none;
  padding: 6px 20px;
  font-size: 17px;
  background-color: white;
  outline: none;
  color: black;
  letter-spacing: 1px;
  line-height: 20px;
}
.ChatBox::placeholder {
  color: lightgray;
}
/* Button for submitting messages */
.Button {
  background-color: #1e88e5;
  color: white;
  width: 60px;
  border: none;
  border-radius: 25px;
  font-size: 17px;
  height: 33px;
  margin-right: 6px;
}
.Button:hover {
  background-color: #1e44e5;
}

/* name for both MyMessage & PartnerMessage */

/* YOUR OWN MESSAGE ONLY! ======================================================================================== */
.MyRow {
  justify-content: flex-end;
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.MyNameTag {
  font-size: 12px;
  color: black;
  width: max-content;
  position: fixed;
  display: flex;
  transform: translateY(-22px) translateX(-7px);
}
.MyMessage {
  width: fit-content;
  position: relative;
  background-color: #1e88e5;
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  text-align: justify;
  border-radius: 5px 0 0 15px;
  font-size: 20px;
  animation: appearFromRight 0.1s ease-in-out forwards;
}
@keyframes appearFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* OTHER PEOPLE'S MESSAGES! ====================================================================================== */
/* if messages is consecutive, stack them together instead of having name on top of each other */
/* if time < 5min of this message, remove nameTag span */
.PartnerRow {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.PartnerNameTag {
  font-size: 12px;
  color: black;
  width: max-content;
  position: fixed;
  display: flex;
  transform: translateY(-22px);
}
.PartnerMessage {
  width: fit-content;
  background-color: gray;
  color: white;
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin-top: 10px;
  text-align: justify;
  border-radius: 0 5px 15px 0;
  font-size: 20px;
  animation: appearFromLeft 0.1s ease-in-out forwards;
}
@keyframes appearFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
