* {
  box-sizing: border-box;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-size: 36px;
  margin: 0;
}

.container {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 60vw;
  transform: translate(-50%, -50%);
  text-align: center;

  /*
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    */
}
.cardHeader {
  background: white;
  color: #1e88e5;
  padding: 0.5rem 2rem;
  border: 1px #0088ff solid;
  border-radius: 50%;
  text-transform: uppercase;
  transform: skewY(-5deg);
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: -2rem;
  left: -2.5rem;
}
.cardBody {
  margin-top: 1.5rem;
}

.inputGroup {
  margin: 1rem 2rem 1rem 2rem;
}
label {
  margin-right: 0.1rem;
  font-weight: bold;
  font-size: 24px;
}
input.nonChat {
  border: none;
  padding: 0.4rem;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 20px;
  border-bottom: 2px solid #e0e0e0;
  transition: border-bottom 0.3s;
}
input.nonChat:focus {
  border-bottom: 2px solid lightslategray;
}

button.nonChat {
  background: #1e88e5;
  color: white;
  border: none;
  padding: 0.2rem 1rem;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  transition: background 0.25s, box-shadow 0.4s, transform 0.25s;
}
button.nonChat:hover {
  background: #0bb814;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 1);
  transform: translateY(-6px);
}
button.nonChat.logOut:hover {
  background: #ff0000;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 1);
  transform: translateY(6px);
}

.chatroomList_container {
  border: 1px solid black;
  padding: 0px 20px 20px 20px;
  margin: 1rem auto 1rem auto;
  width: 70%;
  height: 300px;
  overflow-y: auto;
}
.chatroomName_Join {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.joinLink {
  text-decoration: none;
}
.join {
  background: #1e88e5;
  color: white;
  border: 1px black solid;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-weight: normal;
  font-size: 18px;
  transition: background 0.25s, color 0.3s, border 0.3s, box-shadow 0.4s,
    transform 0.25s;
}

.join:hover {
  background: white;
  color: black;
  border: 1px green solid;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 1);
  transform: translatex(-5px);
}

.chatroom_name {
  font-size: 18px;
  margin: 0 0 0 20px;
}

.create_forgot_container {
  display: flex;
  justify-content: space-around;
}
/*
.login_forgot_container {
}
*/
.createLoginForgotAccount,
.goHome {
  font-size: 18px;
  margin: 30px;
  cursor: pointer;
  text-decoration: underline transparent;
  transition: text-decoration 0.2s, color 0.2s;
}
.createLoginForgotAccount:hover,
.goHome:hover {
  text-decoration: underline;
  color: rgb(92, 24, 24);
}

@media (max-width: 940px) {
  .cardHeader {
    padding: 0rem 1.5rem;
    transform: skewY(0);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .chatroomList_container {
    width: 100%;
  }
}
